<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'services' %}">Services</a>
    <a href="{% url 'contact' %}">Contact</a>


    <h1>Innovation</h1>
    <p>And now the innovation begins</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quas illo. Vero repellat, vitae libero inventore alias blanditiis minus quae officia obcaecati earum nihil quod ipsam deleniti cumque quaerat fugit?
    Aspernatur odit repellat perspiciatis sapiente rem? Quae id in quidem molestias, corrupti expedita inventore magni dolorum dicta ipsum cumque aut quasi nostrum omnis at ratione! Harum nihil optio veniam omnis!
    Saepe non alias repudiandae nobis est cumque facilis quasi excepturi debitis ipsa consectetur mollitia, accusamus aspernatur, voluptatibus dolorum dignissimos repellendus quae explicabo libero ad facere labore! Eveniet minus perferendis id?</p>
</body>
</html>