<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/urembo.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'services' %}">Services</a>
    <a href="{% url 'contact' %}">Contact</a>
`
    <h1>Contact Us</h1>
    <p>Contact us whenever in need</p>
    <img src="{% static 'images/img1.jpg' %}" alt="">
</body>
</html>