<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
    <a href="about.html">About</a>
    <a href="services.html">Services</a>
    <a href="{% url 'contact' %}">Contact</a>

    <h2>Services</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab quae recusandae inventore minus praesentium commodi doloremque quaerat, ut pariatur dolore. Voluptatibus ab corrupti omnis possimus. Aspernatur pariatur id quisquam mollitia!</p>
</body>
</html>